page-add-idea {
    .section-header{
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    .information-message{
        font-size: 13px;
        color: gray;
        margin-top:-25px;
        margin-bottom: 20px;
        text-align: center;
    }
}
