<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profil</ion-title>
    <ion-buttons right *ngIf="editable">
      <button *ngIf="!editMode" ion-button (click)="editProfile()">Bearbeiten</button>
      <button *ngIf="editMode" ion-button (click)="saveProfile()">Fertig</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p class="page-header">{{user.username}}</p>
  <div class="image-container">
    <img *ngIf="editable" class="image" src="{{this.currentUserData.picUrl}}" onError="this.src='assets/pics/profile.jpg'" (click)="changeProfilePicture()">
    <img *ngIf="!editable" class="image" src="{{this.currentUserData.picUrl}}" onError="this.src='assets/pics/profile.jpg'">
  </div>
  <ion-row no-padding>
      <ion-col>
        <p class="p-header">Score</p>
        {{user.score}}
      </ion-col>
      <ion-col text-center>
        <p class="p-header">Ideen</p>
        0
      </ion-col>
      <ion-col text-right>
        <p class="p-header">Freunde</p>
        0
      </ion-col>
    </ion-row>
  <ion-list>
    <ion-list-header>Profilinformationen</ion-list-header>
    <ion-item>
      <ion-label stacked>Vorname</ion-label>
      <ion-label *ngIf="!editMode">{{user.firstname}}</ion-label>
      <ion-input *ngIf="editMode" value="{{user.firstname}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nachname</ion-label>
      <ion-label *ngIf="!editMode">{{user.lastname}}</ion-label>
      <ion-input *ngIf="editMode" value="{{user.lastname}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>E-Mail</ion-label>
      <ion-label *ngIf="!editMode">{{user.email}}</ion-label>
      <ion-input *ngIf="editMode" value="{{user.email}}"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>