page-choose-username {

    .error-message .item-inner {
      border-bottom: 0 !important;
    }

    input{
        text-align: center;
    }

    /*.header{
        font-size: 32px;
        text-align: center;
        font-weight: bold;
    }*/

    .invalid {
      border-bottom: 1px solid #FF6153;
    }

}
