page-home {
    .navBtn{
        font-size: 25px;
    }

    .home-header{
        text-align: center;
    }

    .idea-title{
        font-weight: bold;
    }

    .idea-details{
        color: gray;
    }

    .h2-message{
        font-size: 50px;
        color:gray;
        padding-top: 100px;
        text-align: center;
    }
}
