page-home {
    .navBtn{
        font-size: 25px;
    }

    .home-header{
        text-align: center;
    }

    .idea-title{
        font-weight: bold;
    }

    .idea-details{
        color: gray;
    }
}
